.channel-container {
    position: relative;
    overflow: hidden scroll;
    height: calc(100vh - 130px);
    color: #ADADAD;
}

/* .channel-container::-webkit-scrollbar {
    display: none;
} */

/* width */
.channel-container::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.channel-container::-webkit-scrollbar-track {
background: #2d2d2d;
border-radius: 15px;
}

/* Handle */
.channel-container::-webkit-scrollbar-thumb {
border-radius: 15px;
background: #141414;
}


.channel-list {
    color: #949BA4;
    padding-top: 15px;
    list-style: none;
    padding-left: 3px;
    padding-right: 10px;
    /* padding-bottom: 80px; */
    margin: 0px;
    font-size: 12px;
    overflow: hidden scroll;
    position: relative;
    height: inherit;
}

.channel-list::-webkit-scrollbar {
    display: none;
}

.channel-list-title-container {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
}

.channel-list-title {
    font-weight: bold;
    margin: 0px 0px  0px 3px;
}

.channel-flex {
    display: flex;
    font-size: 16px;
    color: #949ba4;
    margin: 0px 2px;
    border-radius: 2px;
    padding-left: 10px;
    align-items: center;
    height: 32px;
    overflow: hidden;
    scrollbar-width: thin;
}

.channel-name {
    margin-left: 5px;
}

.channel-flex::-webkit-scrollbar {
    display: none;
}

.channel-flex:hover {
    background-color: #404248;
}

#active-channel {
    border-radius: 20px;
    background-color: rgb(96, 83, 240);
}

/* Icons */

.text-channel-drop-down-icon {
    font-size: 10px;
}

.text-channel-add-icon {
    font-size: 22px;
}

.create-new-channel-plus:hover {
    cursor: pointer;
}
