.usermenu-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 55px;
    color: white;
    background-color: #232528;
}

.usermenu {
    height: 55px;
    display: flex;
    align-items: center;
}

.usermenu-pfp {
    border-radius: 50%;
    height: 33px;
    width: 33px;
    margin: 0px 7px;
    background-color: white;
}
